/* PlanTrip.css */

.trip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 1rem;
  background-color: white;
  background-image: url('../assets/PlanTripImg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trip-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.trip-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: black;
}

.trip-box form {
  display: flex;
  flex-direction: column;
}

.trip-box input,
.trip-box select {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.trip-box input::placeholder {
  color: #333;
}

.trip-box select:invalid {
  color: #555;
}

.trip-box button {
  background-color: #2873a1;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.trip-box button:hover {
  background-color: #225c81;
}

.custom-datepicker {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .trip-container {
    padding: 1rem;
  }

  .trip-box {
    margin: 0 auto;
    padding: 1.5rem;
  }
}
